.grid {
    display: table;
    height: 500px;
    width: 600px;
    position: absolute;
    top: 115px;
    margin-left: 23.5%;
}

.tiles {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: cadetblue;
    border: 1.5px solid white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    transition: opacity 0.2s linear;
}

.controls {
    position: relative;
    display: inline-block;
    width: 30%;
    top: 35px;
}

.guesses {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    width: 90%;
}

.title {
    margin-bottom: 0px;
    border-bottom: 1px solid darkgreen;
}

.hidden {
    opacity: 0; 
}

img {
    width: 500px;
    height: 500px;
    margin-left: 25%;
    position: relative;
    top: 100px;
}

main {
    margin: 10px;
    padding: 10px;
}

nav {
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #FFD719;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
}

a:link, .counter_label, .title {
    background-color: darkseagreen;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90%;
}

a:hover, a:active, .tiles:hover {
    background-color: red;
}

#counter {
    height: 100px;
    width: 90%;
    text-align: center;
    background-color: white;
    line-height: 100px;
    color: black;
    font-size: -webkit-xxx-large;
    padding: 15px;
}